<h1>Hello there!</h1>
<h1>General Kenobi!</h1>

<section class="section">
    <div class="card-content gameCard">
        <div class="content gameFinder">
            <label>Input Name of Game</label>
            <input type="text" placeholder="Enter Game" id="userInputName">
            <div class="game-container">
                <div id="game-div">
                    <!-- Game List Results -->
                </div>
            </div>
        </div>
        <br>
        <div class="card content gameYear"></div>
        <label>Year of Publication</label>
        <input type="text" placeholder="Enter Year Published" id="userInputYear">
        <div class="game-container-year"></div>
        <div id="game-div-year"></div>
        <button class="button" id="gameBtn">Submit</button>
    </div>

</section>