<section id="userInput">
    <div class="card-content gameCard">
        <div class="content gameFinder">
            <label>Input Name of Game</label>
            <input type="text" placeholder="Enter Game" id="userInputName">
            <div class="game-container">
                <div id="gameDiv">
                    <!-- Game List Results -->
                </div>
            </div>
        </div>
        <br>
        <div class="card content gameYear"></div>
        <label>Year of Publication</label>
        <input type="text" placeholder="Enter Year Published" id="userInputYear">
        <div class="game-container-year"></div>
        <div id="game-div-year"></div>
        <button class="button" id="gameBtn">Submit</button>
        <h2>Game Results: </h2>
            <p id="gameResults"></p>
    </div>

</section>