 .jumbotron {
     background-color: white;
     font-family: 'Orbitron', sans-serif;

 }

.nav-wrapper {
    background-color: rgb(54, 13, 119);
}

.page-footer {
    background-color: rgba(26, 26, 218, 0.705);
    font-family: 'Orbitron', sans-serif;
}

.white-text {
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}

.saved-game {
    font-family: 'Orbitron', sans-serif;
}

.gameResults {
    font-family: 'Orbitron', sans-serif;
}

#gameResults {
    font-family: 'Source Serif Pro', serif;
}

.addGame{
    margin-left: 12px;
}

.logo {
    align-self: start;
    max-width: 100px;
    max-height: 100px;
}

